.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  color: black;
  padding: 7px;
  margin: 2px;
}

h2 {
  color: #e9d8a6;
}

.hide {
  display: none;
}

h2 span {
  color: white;
  font-weight: 200;
  font-size: 18px;
}
